<div class="date-input-container">
  <form [formGroup]="dateForm" (ngSubmit)="saveDate()">
    <div class="input-group">
      <input
        type="text"
        id="dateTitle"
        placeholder="Enter Title"
        formControlName="title"
        class="input-field title-input"
      />
    </div>
    <div class="input-group">
      <input
        type="date"
        id="datePicker"
        formControlName="date"
        class="input-field date-input"
      />
      <button type="submit" class="submit-button" [disabled]="!dateForm.valid">
        Save Date
      </button>
    </div>
  </form>
</div>
