<div class="register-container">
  <h2 class="title">Register</h2>
  <form [formGroup]="registerForm" class="form-container">
    <div class="input-group">
      <label for="email">Email</label>
      <input
        formControlName="email"
        id="email"
        type="email"
        placeholder="votre-email@example.com"
        class="input"
      />
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        type="password"
        placeholder="votre mot de passe"
        class="input"
      />
    </div>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <button type="button" class="btn" (click)="register()">
      Create my account
    </button>
  </form>
</div>
