.calendar-container {
  width: 90%;
  margin: auto auto;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.calendar-container p {
  color: #666;
  font-size: 20px;
  padding: 5px;
}

.calendar-container .month {
  margin-bottom: 10px;
}

.calendar-container .days {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.calendar-container .day {
  color: #666;
  flex: 0 0 14%;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.3s;
}

.calendar-container .color1 {
  background-color: #d8b3aa;
}

.calendar-container .color2 {
  background-color: #8a9392;
}

.calendar-container .color3 {
  background-color: #b1a299;
}

.calendar-container .color4 {
  background-color: #8a7975;
}

.calendar-container .color5 {
  background-color: #b1bcc5;
}
