@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: #003327;
}
html,
body {
  overflow: hidden;
  background-color: #fbf1eb;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */

.app-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

.app-header h1 {
  margin: 0;
  font-size: 24px;
}

.app-header nav {
  text-decoration: none;
  margin-left: 20px;
}
.app-header nav a {
  text-decoration: none;
  margin-left: 20px;
}

/* Main container */

.app-main {
  display: grid;
  grid-template-rows: 55% 45%;
  height: 95vh;
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: url("/assets/images/background.webp") no-repeat center center;
  background-size: cover;
  overflow: hidden;
}

.center-panel .selected-date-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selected-date-display h1 {
  font-size: 100px;
}

.selected-date-display {
  position: relative;
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #fffff6, #fffff6 80%, #fffff6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: pulse 23s infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    box-shadow: 0 0 25px rgba(255, 255, 246, 0.8);
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 35px rgba(255, 255, 246, 1);
  }
}

.number {
  font-size: 70px;
  color: #333;
  font-weight: bold;
}

.selected-date-display p {
  color: #333;
  margin-top: 0;
}

/* Right pannel with the date cards */

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50%; /* Start roughly in the middle vertically */
}

.cards-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px; /* Space between cards */
  margin-right: 30px;
}

.date-card {
  background-color: #fbf1eb;
  border-radius: 45px;
  border-width: 2px;
  border-style: solid; /* This line is necessary to make the border visible */
  border-color: #ccc;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.date-card:hover {
  transform: scale(1.05);
}

.date-card h3 {
  color: #333;
}

.date-card p {
  color: #666;
}

.date-card .date {
  font-weight: bold;
  color: #555;
}

/* Bottom section */

.bottom-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 2px solid #ccc;
}

.bottom-section .section {
  padding: 20px;
  border-left: 2px solid #ccc;
}

.bottom-section .section:first-child {
  border-left: none;
  background-image: url("/assets/images/calendar.webp");
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50px;
  margin-bottom: 50px;
}

.bottom-section .section:nth-child(2) {
  display: flex;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}

/* Styling for the panels to add spacing and alignment */
.left-panel,
.right-panel,
.center-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-container {
  background-image: url("/assets/images/calendar.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 50px; */
  width: 70%;
  padding: 10px;
}
