@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: #003327;
}

html,
body {
  overflow: hidden;
  background-color: #fbf1eb;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* APP HEADER */

.app-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
  width: 100%;
}

.app-header h1 {
  margin: 0;
  font-size: 24px;
}

.app-header nav a {
  text-decoration: none;
  margin-left: 20px;
}

.app-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

/* TOP SECTION */

.top-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background: url("/assets/images/background.webp") no-repeat center center;
  background-size: cover;
  overflow: hidden;
  height: 45vh;
  width: 100%;
}

/* center panel */

.center-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* right panel */

.right-panel {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 120px);
  width: 100%;
}

/* BOTTOM SECTION */

.bottom-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 2px solid #ccc;
  height: 55vh;
  width: 100%;
}

.bottom-section .section {
  padding-top: 40px;
  border-left: 2px solid #ccc;
  flex-direction: column;
}

.bottom-section .section:first-child {
  display: flex;
  justify-content: top;
  align-items: center;
}

.bottom-section .section:nth-child(2) {
  display: flex;
  align-items: center;
  padding: 100px 20px;
}

.date-input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-field {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  margin-bottom: 10px;
}

.submit-button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #666;
  color: white;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}

.submit-button:hover {
  background-color: #333;
}

/* For small screens */
@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    align-items: center;
  }

  .top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .center-panel {
    margin-bottom: 20px;
  }

  .right-panel {
    max-height: 40vh;
    overflow-y: scroll;
    width: 100%;
    padding: 0 20px;
  }

  .bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: none;
  }

  .bottom-section .section {
    border-left: none;
    padding-top: 20px;
    width: 100%;
  }

  .bottom-section .section:first-child {
    background: none;
  }

  .bottom-section .section:nth-child(2) {
    align-items: center;
    padding: 0;
  }
}

/* making sure the date card doesn't overflow */
.date-card {
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.date-card:hover {
  transform: scale(1.05);
  z-index: 10;
}

/* Center the text inside the sun */
.selected-date-display {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #fffff6, #fffff6 80%, #fffff6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: pulse 23s infinite;
  text-align: center;
  margin-bottom: 20px;
}
